html {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: black;
}

#__next {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code > span {
  font-family: "Consolas" !important;
  font-size: 12px !important;
}

code {
  font-family: "Consolas" !important;
  font-size: 12px !important;
}

code > strong {
  font-size: 12px !important;
}

pre {
  margin: 0px;
}

p {
  line-height: 24px;
  clear: both;
  font-size: 14px;
  font-family: "Open Sans",sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0px;
}

thead {
  background-color: #d7dade;
}

th, td {
  padding: 7px 10px 7px 10px;
}

tr {
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #1B1B1D;
}

th {
  color: #0f161e;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  border: 0px !important;
}

li {
  font-size: 14px;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}

aside {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

pre.highlight {
  background-color: #1B1B1D;
}

h5 {
  font-size: 22px;
  line-height: 22px;
}

blockquote {
  font-style: italic;
  padding: 0px 20px;
  margin: 0 0 20px;
  border-left: 5px solid white;
}

blockquote.tags {
  border-left: 5px solid orange;
}

blockquote.tags > :first-child {
  color: orange;
  font-weight: 600;
}

blockquote.tags > span {
  color: lightsalmon;
  font-size: 12px;
}

blockquote.info {
  border-left: 5px solid #ff9800;
}

blockquote.info > :first-child {
  color: #ff9800;
  font-weight: 600;
}

blockquote.info > p {
}

blockquote.info > :first-child::before {
  font-family: "Font Awesome 6 Free";
  content: "\f05a  ";
}

code.plaintext {
  color: #ff9800 !important;
  padding: 2px 4px;
}

.MuiTreeItem-label {
  font-family: "Open Sans",sans-serif !important;
  font-size: 12px !important;
  color: #ff9800;
  font-weight: 400 !important;
  padding: 10px 0px;
}

.MuiTreeItem-content.Mui-selected > .MuiTreeItem-label {
  font-weight: 600 !important;
}

.MuiTreeItem-content:hover {
  background-color: rgba(255, 165, 0, 0.1) !important;
  opacity: 0.8;
}

.MuiTreeItem-content.Mui-selected {
  background-color: rgba(255, 165, 0, 0.1) !important;
}


.nxtmdoc-delete {
  width: 0px !important;
  height: 0px !important;
  display: none;
}

a {
  color: #ff9800;
}

a:hover {
  color: rgba(255, 165, 0, 0.4);
}

a:visited {
  color: rgba(255, 165, 0, 1);
}

p {
  overflow: hidden;
  word-break: break-word;
}

ol {
  padding-inline-start: 14px;
}
